body {
    font-family:NType82-bold, "Noto Sans Thai", NType82Mono/* Changed font */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #86A788; /* Changed background color to a vibrant green */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

section {
    padding: 2rem;
    text-align: center;
}

#hero {
    background-color: #f0f0f0;
}

#services div {
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
